# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open Half Screen'
      'command': 'web-lookup:openHalfScreen'
    }
    {
      'label': 'Open Full Screen'
      'command': 'web-lookup:openFullScreen'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'web-lookup'
      'submenu': [
        {
          'label': 'Open Half Screen'
          'command': 'web-lookup:openHalfScreen'
        }
        {
          'label': 'Open Full Screen'
          'command': 'web-lookup:openFullScreen'
        }
      ]
    ]
  }
]
